In [ ]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType , DoubleType , BooleanType , DataType

In [ ]:
# Connecting our Storage containers
configs = { "fs.azure.account.auth.type" : "OAuth",
           "fs.azure.account.oauth.provider.type" : "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
           "fs.azure.account.oauth2.client.id" : "1d7f5a56-1214-4360-bcd8-0372f2de4d9e",
           "fs.azure.account.oauth2.client.secret" : "HFL8Q~6X6HG1W3LtwEyPRco7cRHEX3ut_KeR-avM",
           "fs.azure.account.oauth2.client.endpoint" : "https://login.microsoftonline.com/bb2b1202-874c-4085-a6e0-4666ae714aa4/oauth2/token"}

dbutils.fs.mount(
    source = "abfss://olympic-data@olympicdatakoppi.dfs.core.windows.net",
    mount_point = "/mnt/olympic",
    extra_configs = configs
)

In [ ]:
%fs
ls  "/mnt/olympic"

path,name,size,modificationTime
dbfs:/mnt/olympic/raw-data/,raw-data/,0,1695389544000
dbfs:/mnt/olympic/transformed-data/,transformed-data/,0,1695389558000

In [ ]:
spark

In [ ]:
# Loading our files and making sure all the data types are correct
athletes = spark.read.format("csv").option("header","true").option("inferSchema" , "true").load( "/mnt/olympic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header","true").option("inferSchema" , "true").load( "/mnt/olympic/raw-data/coaches.csv")
gender = spark.read.format("csv").option("header","true").option("inferSchema" , "true").load( "/mnt/olympic/raw-data/gender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema" , "true").load( "/mnt/olympic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema" , "true").load( "/mnt/olympic/raw-data/teams.csv")

In [ ]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [ ]:
gender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [ ]:
gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [ ]:
# Another possible method to typecast the string values to int type
gender = gender.withColumn("Female" , col("Female").cast(IntegerType()))\
    .withColumn("Male" , col("Male").cast(IntegerType()))\
    .withColumn("Total" , col("Total").cast(IntegerType()))

In [ ]:
gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [ ]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [ ]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [ ]:
# Finding countries with highest number of gold medals
top_gold = medals.orderBy("Gold" , ascending = False).select("Team_Country" , "Gold").show()

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
|                Cuba|   7|
|         New Zealand|   7|
|              Brazil|   7|
|              Canada|   7|
|             Hungary|   6|
|   Republic of Korea|   6|
|               Kenya|   4|
|              Poland|   4|
|      Czech Republic|   4|
|              Norway|   4|
+--------------------+----+
only showing top 20 rows

In [ ]:
# Calculating Average number of entries by gender for each discipline
avg_entries_by_gender = gender.withColumn(
    'Avg_Female' , gender['Female'] / gender['Total']
).withColumn(
    'Avg_Male' , gender['Male'] / gender['Total']
).show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [ ]:
athletes.repartition(2).write.mode("overwrite").option("header",'true').csv("/mnt/olympic/transformed-data/athletes")

In [ ]:
athletes.repartition(1).write.mode("overwrite").option("header",'true').parquet("/mnt/olympic/transformed-data/athletes")
medals.repartition(1).write.mode("overwrite").option("header",'true').parquet("/mnt/olympic/transformed-data/medals")
gender.repartition(1).write.mode("overwrite").option("header",'true').parquet("/mnt/olympic/transformed-data/gender")
teams.repartition(1).write.mode("overwrite").option("header",'true').parquet("/mnt/olympic/transformed-data/teams")
coaches.repartition(1).write.mode("overwrite").option("header",'true').parquet("/mnt/olympic/transformed-data/coaches")